name: Laboratorio de Pipeline Sistemicos
on: [push]

jobs:
  Compilacion:
    runs-on: ubuntu-latest
    steps:
      - name: Simulando Build
        run: echo "Compilando binarios..." && sleep 5

  Pruebas_Frontend:
    needs: Compilacion
    runs-on: ubuntu-latest
    steps:
      - name: Test Frontend
        run: echo "Probando frontend..." && sleep 5

  Pruebas_Backend:
    needs: Compilacion
    runs-on: ubuntu-latest
    steps:
      - name: Test Backend
        run: echo "Probando backend..." && sleep 5

  Despliegue_Produccion:
    needs: [Pruebas_Frontend, Pruebas_Backend]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Sistema desplegado exitosamente."
